<div class="row">
<div class="col-sm-6">
  <form action='/' method='post'>
    <div class="form-group">
      <label for="description">Project Description</label>
      <input name="description" id="description" type="text">

      <button type="submit" class="btn btn-success">Add Project</button>
    </div>
  </form>
</div>

<div class="col-sm-6">
  <h3>List of projects</h3>
  <ul>
    <% @all_projects.each do |p| %>
    <li><a href="/new/project/<%=p.id%>"><%= p.description()%></a></li>
    <% end%>
  </ul>
</div>
</div>
